/* CSS RULES */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #white;
    font-family: robot;
    height: 100%;
    min-height: 100%;
}

.heading-container {
    background-image: url(./images/code.jpeg);
}

.top {
    text-align: center;
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    padding: 10px;
    opacity: .9;
}

.mypic {
    display: flex;
    width: 100%;
    justify-content: center;
    clear: both;
    border-radius: 10px ;

}

img {
    width: 80px;
    height:100px;
    object-fit: scale-down;

}



main {
    margin: 0 auto%;
    /* clear: both; */
    width: 70%;
    padding: 40px;
    clear:left;
}

.container {
    display: flex;
    
}

.list-view {
    list-style: none;

}

.list-view a:link, a:visited, a:active {
    color: #162629;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.5em;
    font-weight: bold;

}

.list-view a:hover {
    color: #d1d3d3;
    text-decoration: underline;
    cursor: pointer;
}

.portfolio {
    display: inline-block;
    float: left;
}


.portfoliotext {
    background-color: white;
    color: balck;
    letter-spacing: 0.5em;
    font-family: robot;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

