/* CSS RULES */
body {
    background-color: #c4c4c5;
    font-family: Arial, Helvetica, sans-serif;
    
}

#side-bar {
    background-color: grey;
    color: lightgreen;
    width: 20%;

}

a:link, a:visited, a:active {
    color: rgb(194, 193, 193);
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.5em;
    font-weight: bold;

}

a:hover {
    color: #93f3f3;
    text-decoration: underline;
    opacity: 1;
}

#navi {

}

.list-view {

}

ul {
    list-style-type: none;
}