/* CSS RULES */

/*  */
* {
    margin: 0;
    padding: 0;
}


html, body {
    background-color: #white;
    font-family: robot;
    height: 100%;
    min-height: 100%;
}


/* Header CSS Rules */
.backImg {
    width:100%;
    height: 100vh;
    background-image: url(./images/WallpaperDog-10849633.jpg);
    background-attachment: fixed;
    background-size: 100% 100%; 
}


.top-container {
    width: 100%;
    top: 0;
    z-index: 5;
    /* background-color: black; */
    border-bottom: 10px solid white;
}

/* heading rules applied */

h1 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

.header-container {
    /* width: 100%; */
}

.h-text {
    text-align: center;
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    padding: 0.5em;
}




/* Placing images or logo on header */

.mypic img {
    float: right;
    width: 80px;
    height:100px;
    object-fit: scale-down;
    border-radius: 100%;
    margin-right: 5em;
    filter: grayscale(80%);
}

/* navigation button working with unorderedd lists and attributes */

#navi {
    width: 100%;
    position: sticky ;
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    /* padding-top: 20px; */
    clear: both;
    z-index: 5;
    
}

.nav-img {
    margin: 0 auto;
    height: 2em;
}

.list-view {
    list-style: none;
    background-color: black;
    
    display: inline-block;
    border-radius: 50%;
    padding: 1rem; 
    /* border: 5px solid #00FF41; */
    border-right: 5px solid white;
    border-left: 5px solid white; 
}


/* Pseudo */
.list-view a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.2em;
    font-weight: bold;

}

.list-view a:hover {
    color: #00FF41;
    text-shadow:0px 0px 30px white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/* Main element class defined  */

.container {
    margin: 10vh 10vh;
    width: 60%;
    float: left;
}

.social-icons {
    margin: 0 20%;
}


a .icons {
    margin: 30px;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
}

a .icons:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 5px solid #00FF41;
}


.textp {
    color: white;
    letter-spacing: 0.5em;
    font-family: robot;
    font-weight: bold;
    font-size: 2em;
    padding: 5px;

}

.hi {
    font-size: 3em;
    animation: blink 1s ease infinite; 
}

@keyframes blink {
    100% { opacity: 0 }
  }




/* Social Icons sidebar */




/* horizontal line */
.user-abtme-pic {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
}

.abtme-pic {
    width: 54.5px;
    height: 73.5px;
    border: 5px solid grey;
    border-left: 10px solid grey;
    border-right: 10px solid grey;
    border-radius: 50%;
    
}

.user-abtme-line {
    width: 100%;
    border: 1px solid black;
}

/* About me secetion */

  .aboutme {
      background-color: grey;
      margin: 0 auto;
      padding: 20px;
      width: 100%;
      font-family: robot;
      font-size: x-large;
  }

.abtme h5 {
    font-size: 1.4em;
    background-color: black;
    color: white;
}

/* 3 Divs created  */
.abtme {
    padding: 15px;
    text-align: center;
    border-left: 2px solid white;
}

#abtme1, #abtme2, #abtme3 {
    width: 30%;
}

#abtme1 {
    border-left: none;
}

.abt-section {
    display: flex;
}
/* Skills Added on footer */

@media only screen and (max-width: 600px){
    div.textp h1 {
        font-size: 1em;
    }
    div.textp h2 {
        font-size: 0.5em;
    } 
    div.textp {
        float: none;
        padding: 0;
    }
}